# n8n
N8N_ENCRYPTION_KEY=your_encryption_key_here
OCR_SPACE_API_KEY=your_ocr_key_here

# WAHA
WAHA_DASHBOARD_USERNAME=your_username
WAHA_DASHBOARD_PASSWORD=your_password
WHATSAPP_SWAGGER_USERNAME=your_username
WHATSAPP_SWAGGER_PASSWORD=your_password
WAHA_API_KEY=your_api_key_here
